.about {
  font-weight: bold;
  margin-top: 20%;
  max-width: 25%;
  text-align: center;
}

.app {
  background-color: #333533;
  min-height: 100vh;
}

.bottom-area {
  display: flex;
  min-height: 78vh;
}

.code-editor {
  width: 80%;
}

.flex-column {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.instructions {
  background-color: #333533 !important;
  color: #ffffff;
  min-height: 15vh;
}

.nav {
  background-color: #f5cb5c;
}

.sidebar {
  width: 20%;
}

.tootie-image {
  width: 15%;
}
