.about {
  font-weight: bold;
  margin-top: 20%;
  max-width: 25%;
  text-align: center;
}

.app {
  background-color: #333533;
  height: 100vh;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  margin-left: 5px;
  margin-top: 10px;
}

.bottom-area {
  display: flex;
  height: 87%;
  width: 100%;
}

.code-editor {
  overflow: scroll;
  width: 80%;
}

.flex-column {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.instructions {
  background-color: #333533 !important;
  color: #ffffff;
  height: 13%;
}

.nav {
  background-color: #f5cb5c;
  height: 7%;
}

.sidebar {
  width: 20%;
}

.tootie-image {
  width: 15%;
}
